.Card-tpl {
    display: none;
}

.Card {
    position: absolute;
    width: 60px;
    height: 90px;
    border-radius: 4px;
    overflow: hidden;
    background: #fBfBfB;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.Card.back:before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: url("../img/back.svg") no-repeat center / cover;
}

.Card.face.diamonds svg > path,
.Card.face.hearts svg > path {
    fill: #D40100;
}

.Card svg {
    position: absolute;
}

.Card.face svg:nth-child(1) {
    top: 5px;
    left: 5px;
    height: 20px;
}

.Card.face.queen svg:nth-child(1) {
    top: 4px;
}

.Card.face svg:nth-child(2) {
    top: 28px;
    left: 5px;
    height: 16px;
}

.Card.face.clubs svg:nth-child(2) {
    left: 4px;
}

.Card.face svg:nth-child(3) {
    bottom: 5px;
    right: 6px;
    height: 40px;
}

.Card.face.ace:before {
    position: absolute;
    content: '';
    height: 40px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: no-repeat bottom right / contain;
}

.Card.face.ace.diamonds:before {
    background-image: url("../img/suit/diamonds.svg");
}

.Card.face.ace.clubs:before {
    background-image: url("../img/suit/clubs.svg");
}

.Card.face.ace.hearts:before {
    background-image: url("../img/suit/hearts.svg");
}

.Card.face.ace.spades:before {
    background-image: url("../img/suit/spades.svg");
}

.Card.face.jack:before,
.Card.face.queen:before,
.Card.face.king:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat top right / cover;
}

.Card.face.jack.diamonds:before {
    background-image: url("../img/face/jack.diamonds.svg");
}

.Card.face.jack.hearts:before {
    background-image: url("../img/face/jack.hearts.svg");
}

.Card.face.jack.spades:before {
    background-image: url("../img/face/jack.spades.svg");
}

.Card.face.jack.clubs:before {
    background-image: url("../img/face/jack.clubs.svg");
}

.Card.face.queen.diamonds:before {
    background-image: url("../img/face/queen.diamonds.svg");
}

.Card.face.queen.hearts:before {
    background-image: url("../img/face/queen.hearts.svg");
}

.Card.face.queen.spades:before {
    background-image: url("../img/face/queen.spades.svg");
}

.Card.face.queen.clubs:before {
    background-image: url("../img/face/queen.clubs.svg");
}

.Card.face.king.diamonds:before {
    background-image: url("../img/face/king.diamonds.svg");
}

.Card.face.king.hearts:before {
    background-image: url("../img/face/king.hearts.svg");
}

.Card.face.king.spades:before {
    background-image: url("../img/face/king.spades.svg");
}

.Card.face.king.clubs:before {
    background-image: url("../img/face/king.clubs.svg");
}

.Card.c1 { left: 30px; }
.Card.c2 { left: calc(30px + 64px * 1); }
.Card.c3 { left: calc(30px + 64px * 2); }
.Card.c4 { left: calc(30px + 64px * 3); }
.Card.c5 { left: calc(30px + 64px * 4); }
.Card.c6 { left: calc(30px + 64px * 5); }
.Card.c7 { left: calc(30px + 64px * 6); }
.Card.c8 { left: calc(30px + 64px * 7); }
.Card.c9 { left: calc(30px + 64px * 8); }
.Card.c10 { left: calc(30px + 64px * 9); }
.Card.c11 { left: calc(30px + 64px * 10); }
.Card.c12 { left: calc(30px + 64px * 11); }
.Card.c13 { left: calc(30px + 64px * 12); }
.Card.c14 { left: calc(30px + 64px * 13); }

.Card.r1 { top: 30px; }
.Card.r2 { top: calc(30px + 94px * 1); }
.Card.r3 { top: calc(30px + 94px * 2); }
.Card.r4 { top: calc(30px + 94px * 3); }
